---
---
@import "{{ site.theme }}";

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.site-nav .page-link {
  font-size: 1.05rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

.site-nav .page-link:hover {
  text-decoration: underline;
}
